<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreekTube - Direct Chat</title>

    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <h1>CreekTube Direct Chat</h1>

    {% if user.is_authenticated %}
        <h3>Logged in as: {{ user.username }}</h3>
    {% endif %}

    <ul>
        {% if user.is_authenticated %}
            <li>
                <a href="{% url 'directchat:home' %}">Chat Home</a>
            </li>
            <li>
                <a href="/api/">API</a>
            </li>
        {% else %}
            <li>
                <a href="/api/login/">Login</a>
            </li>
        {% endif %}
    </ul>
    <hr>
    {% block content %}{% endblock content %}
</body>
</html>
